.active-residents {
    display: inline-block;
    padding: 20px;
    /* justify-content: center; */
}

#active-resident-img {
    height: auto;
    width: auto;
}

.activeResidentbtn:hover {
    background-color: teal;
}

.cardActiveResident:hover {
    border-color: black;
    cursor: pointer;
}

.cardActiveResident {
    background-color: teal;
}

.activeResidentsTitle{
    margin-left: 20px;
}