.active-residents {
    display: inline-block;
    padding: 20px;
}

#active-resident-img {
    height: 150px;
    width: 200px;
}

.activeResidentbtn:hover {
    background-color: teal;
}

.cardActiveResident:hover {
    border-color: black;
    cursor: pointer;
}

.cardActiveResident {
    background-color: teal;
}

.activeResidentsTitle{
    margin-left: 20px;
}
