
#ResidentInfo-Return {
    margin-left: 100px;
}

.residentInfoID, .residentInfoBirthday, .residentInfoAllergy{
    font-size: 20px;
}

.residentInfoName{
    font-size: 30px;
}

.taskDetailCard{
    display: inline-block;
    padding: 20px;
}