#tasks-resident-info {
    display: inline-block;
}

#ResidentInfo-Return {
    margin-left: 100px;
}

/* .residentInfoText{
    font-size: 20px;
} */

.residentInfoID, .residentInfoBirthday, .residentInfoAllergy{
    font-size: 20px;
}

.residentInfoName{
    font-size: 30px;
}