
#ResidentInfo-Return {
    margin-left: 100px;
}

.residentInfoID, .residentInfoBirthday, .residentInfoAllergy{
    font-size: 20px;
}

.residentInfoName{
    font-size: 30px;
}

.taskDetailCard{
    display: inline-block;
    padding: 20px;
}

.embNameTaskDetail {
    font-size: 20px;
}

.backbtnResidentInfo:hover{
    background-color: teal;
}

.taskdetailcardbody:hover{
    background-color: teal;
    border-color: teal;
}

.residentInfoTitle{
    margin-left: 40px;
}

.backbtnResidentInfo{
    margin-left: 25px;
}

