.taskInfoCard{
    display: inline-block;
    padding: 20px;
}

.backbtnTaskInfo:hover {
    background-color: teal;
}

.backbtnTaskInfo{
    margin-left: 10px;
}

.taskInfoName {
    font-size: 25px;
}

.taskInfocardbody:hover {
    cursor: pointer;
}

.taskInfoTitle{
    margin-left: 30px;
}